<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Product Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <style data-tag="default-style-sheet">
            html {
                font-family: Inter;
                font-size: 16px;
            }
            body {
                font-weight: 400;
                font-style:normal;
                text-decoration: none;
                text-transform: none;
                letter-spacing: normal;
                line-height: 1.15;
                color: var(--dl-color-gray-black);
                background-color: var(--dl-color-gray-white);
            }
            a {
                color: #000000;
            }
        </style>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
            data-tag="font"
        />
        <link rel="stylesheet" href="./style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
        <link href="./productmanagement.css" rel="stylesheet" />
  </head>
  <body>
      <div class="productmanagement-container">
        <div class="productmanagement-productmanagement">
          <div class="productmanagement-update-m-r-p">
            <img
              alt="Rectangle91111"
              src="public/playground_assets/rectangle91111-zk9-300w.png"
              class="productmanagement-rectangle9"
            />
            <span class="productmanagement-text">
              <a
                href="underconstr.html"
              >
              <span><span>Update</span><br /><span>MRP</span></span>
              </a>
            </span>
            <div class="productmanagement-update-m-r-p-icon">
              <img
                alt="UpdateMRPIcon21113"
                src="public/playground_assets/updatemrpicon21113-swa.svg"
                class="productmanagement-update-m-r-p-icon2"
              />
              <img
                alt="UpdateMRPIcon11113"
                src="public/playground_assets/updatemrpicon11113-oezj.svg"
                class="productmanagement-update-m-r-p-icon1"
              />
            </div>
          </div>
          <div class="productmanagement-check-products">
            <span class="productmanagement-text05">
              <a
                href="underconstr.html"
              >
              <span><span>Check</span><br /><span>Products</span></span>
              </a>
            </span>
            <img
              alt="CheckProductsIcon1112"
              src="public/playground_assets/checkproductsicon1112-4vfa.svg"
              class="productmanagement-check-products-icon"
            />
            <img
              alt="Rectangle91111"
              src="public/playground_assets/rectangle91111-zk9-300w.png"
              class="productmanagement-rectangle91"
            />
          </div>
          <div class="productmanagement-add-products">
            <img
              alt="Rectangle91113"
              src="public/playground_assets/rectangle91113-9e6a-300w.png"
              class="productmanagement-rectangle92"
            />
            <span class="productmanagement-text07">
              <a
                 href="addproduct.html"
              >
              <span><span>Add</span><br /><span>products</span></span></a>
            </span>
            <img
              alt="AddProductsIcon1113"
              src="public/playground_assets/addproductsicon1113-8ysl.svg"
              class="productmanagement-add-products-icon"
            />
          </div>
          <div class="productmanagement-update-stock">
            <img
              alt="Rectangle91111"
              src="public/playground_assets/rectangle91111-zk9-300w.png"
              class="productmanagement-rectangle93"
            />
            <span class="productmanagement-text12">
              <a
                 href="underconstr.html"
              >
              <span><span>Update</span><br /><span>Stock</span></span>
              </a>
            </span>
            <div class="productmanagement-update-stock-icon">
              <img
                alt="UpdateStockIcon21112"
                src="public/playground_assets/updatestockicon21112-jxn03.svg"
                class="productmanagement-update-stock-icon2"
              />
              <img
                alt="UpdateStockIcon11112"
                src="public/playground_assets/updatestockicon11112-u2dl.svg"
                class="productmanagement-update-stock-icon1"
              />
            </div>
          </div>
          <div class="productmanagement-update-products">
            <img
              alt="Rectangle91114"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/28203551-f40b-48e7-84c0-5d688a1a5d3f/9083686d-9fa2-4065-b8d9-d7126579dda0?org_if_sml=11811"
              class="productmanagement-rectangle94"
            />
            <span class="productmanagement-text17">
              <a
                href="underconstr.html"
              >
              <span><span>Update</span><br /><span>Products</span></span>
              </a>
            </span>
            <img
              alt="UpdateProductsIcon1114"
              src="public/playground_assets/updateproductsicon1114-afj.svg"
              class="productmanagement-update-products-icon"
            />
          </div>
          <div class="productmanagement-check-stock">
            <span class="productmanagement-text22">
              <a
                href="https://youtube.com"
                target="_blank"
                rel="noreferrer noopener"
              >
              <span><span>Check</span><br /><span>Stock</span></span>
              </a>
            </span>
            <img
              alt="CheckStockIcon1115"
              src="public/playground_assets/checkstockicon1115-xlw.svg"
              class="productmanagement-check-stock-icon"
            />
            <img
              alt="Rectangle91113"
              src="public/playground_assets/rectangle91113-9e6a-300w.png"
              class="productmanagement-rectangle95"
            />
          </div>
            <img
              src="./public/playground_assets/Screen%20Shot%202023-01-14%20at%2020.59.41.png"
              class="productmanagement-background-image"
            />
            <div class="productmanagement-header">
              <img class="logo-icon"/ src="public/logo.svg"/>
                  <a
                     href="underconstr.html"
                     class="productmanagement-link1"
                  >
                      InVendor
                  </a>
                  <a
                     href="underconstr.html"
                     class="productmanagement-link2"
                  >
                      Profile
                  </a>
                  <a
                     href="underconstr.html"
                     class="productmanagement-link3"
                  >
                      Discover
                  </a>
                  <a
                     href="underconstr.html"
                     class="productmanagement-link4"
                  >
                      Home
                  </a>
              </div>
        </div>
          
      </div>
      <style>
            a {
                color: #000000;
            }
        </style>
  </body>
</html>
